**/__pycache__/
/.cache/
/.pytest_cache/
*/*~
*.#*
*#
*~
/docs/_build/
/build/
/dist/
/venv/
/.vscode/
/.mypy_cache/
/.idea/

/src/electrumx.egg-info/
/src/e_x.egg-info/
/electrumx.egg-info/
/e_x.egg-info/
electrumx-env/
# Working Files directory
Working Files/
# Development notes
.cursorrules